@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

body{
    height: 100vh;
    background: linear-gradient(130deg, rgb(249, 253, 20), rgb(210, 30, 3));
    display: flex;
    align-items: center;
    justify-content: center;
}

.relogio{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 550px;
    background: transparent;
    border-radius: 3px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.493);
}

.relogio div{
    height: 170px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: rgba(5, 5, 5, 0.844);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
    border-radius: 7px;
    letter-spacing: 3px;
}

.relogio span{
    font-size: 60px;
    font-weight: bolder;
}

.relogio span.tempo{
    font-size: 12px;
}